# Sales on Day of the Week

Allison & Caitlin

In [2]:
# Libraries
import pandas as pd

In [12]:
# Dataframe
df = pd.read_csv('../Data/clean_entire.csv')
df.head()

      Date                    Item Total Price              Category
0  9/24/21                   jeans      $5.00                  pants
1  9/24/21           boutique item      $6.00          boutique item
2  9/24/21           boutique item      $7.00          boutique item
3  9/24/21  button-down work shirt      $5.00   long_sleeves_blouses
4  9/24/21       short_sleeve_tops      $3.00      short_sleeve_tops

In [ ]:
# TODO: convert Date column to pandas date time object, make day of week column, start plotting!